[workspace]
members=[
  "auction/program",
  "auction-house/program",
  "metaplex/program",
  "token-vault/program",
  "token-vault/test",
  "token-metadata/program",
  "token-metadata/test",
  "nft-packs/program"
]
exclude = []
