[package]
name = "mpl-token-metadata"
version = "1.7.0-alpha.3"
description = "Metaplex Metadata"
authors = ["Metaplex Developers <dev@metaplex.com>"]
repository = "https://github.com/metaplex-foundation/metaplex-program-library"
license-file = "../../LICENSE"
edition = "2021"
readme = "README.md"

[features]
no-entrypoint = []
test-bpf = []
serde-feature = ["serde", "serde_with"]

[dependencies]
num-derive = "0.3"
arrayref = "0.3.6"
num-traits = "0.2"
solana-program = "1.14"
mpl-token-vault = { version = "0.1.0", features = ["no-entrypoint"] }
spl-token = { version = "3.2.0", features = ["no-entrypoint"] }
spl-associated-token-account = { version = "1.1.1", features = ["no-entrypoint"] }
mpl-token-auth-rules = { version = "0.2.5", features = ["no-entrypoint", "serde-feature"] }
thiserror = "1.0"
borsh = "0.9.2"
shank = { version = "0.0.11" }
serde = { version = "1.0.149", optional = true }
serde_with = { version = "1.14.0", optional = true }
mpl-utils = { version = "0.0.6", path="../../core/rust/utils" }
mpl-token-metadata-context-derive = { version = "0.1.0", path = "../macro" }

[dev-dependencies]
rmp-serde = "1.1.1"
rooster = { git = "https://github.com/metaplex-foundation/rooster" }
solana-sdk = "1.14"
solana-program-test = "1.14"
serde = { version = "1.0.147", features = ["derive"]}

[lib]
crate-type = ["cdylib", "lib"]
