name: Manually sync versions

on:
  workflow_dispatch:
    inputs:
      packages:
        description: 'List of packages and immediate subdir to udpate, e.g. ["candy-machine/js", "auction-house/program"]'
        required: true
        default: '["candy-machine/js"]'

permissions:
  id-token: write

jobs:
  dump-context:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

  sync-package-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Publish version changes
        uses: ./.github/actions/publish-version-changes
        id: publish-version-changes
        with:
          changed-packages: ${{ inputs.packages }}
          cargo-token: ${{ secrets.CARGO_TOKEN }}
          npm-token: ${{ secrets.NPM_PUBLISH_TOKEN }}
