name: SDK Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:
    inputs:
      cache:
        description: 'Use Cached Dependencies'
        required: true
        type: boolean
      changes:
        description: 'Only run when files change'
        required: true
        type: boolean

jobs:
  sdk-tests:
    name: "SDK: ${{ matrix.node.name }}"
    strategy:
      fail-fast: false
      matrix:
        node:
          - name: "auction-house"
          - name: "candy-machine"
          - name: "candy-machine-core"
            skip_test: true
          - name: "fixed-price-sale"
            skip_test: true
          - name: "gumdrop"
          # - name: "hydra"
            # skip_test: true
          - name: "nft-packs"
            skip_test: true
          - name: "token-entangler"
          - name: "token-metadata"
            skip_test: true

    uses: ./.github/workflows/sdk-reusable.yml
    with:
      name: ${{ matrix.node.name }}
      skip_test: ${{ contains(matrix.node.skip_test, 'true') }}
      cache: ${{ contains(inputs.cache, 'true') }}
      changes: ${{ !contains(inputs.changes, 'false') }}
