name: SDK Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:
    inputs:
      cache:
        description: 'Use Cached Dependencies'
        required: false
        default: true
env:
  CACHE: 'false'

jobs:
  sdk-tests:
    name: "SDK: ${{ matrix.node.name }}"
    strategy:
      fail-fast: false
      matrix:
        node:
          - name: "auction-house"
            skip_test: false
            build_core: true
            build_token_metadata: false
            build_auction_house: false
            build_candy_machine: false

          - name: "candy-machine"
            skip_test: false
            build_core: true
            build_token_metadata: false
            build_auction_house: false
            build_candy_machine: false

          - name: "candy-machine-core"
            skip_test: true
            build_core: true
            build_token_metadata: true
            build_auction_house: true
            build_candy_machine: true

          - name: "core"
            skip_test: false
            build_core: false
            build_token_metadata: false
            build_auction_house: false
            build_candy_machine: false

          - name: "fixed-price-sale"
            skip_test: true
            build_core: true
            build_token_metadata: true
            build_auction_house: false
            build_candy_machine: false

          - name: "gumdrop"
            skip_test: false
            build_core: true
            build_token_metadata: true
            build_auction_house: false
            build_candy_machine: false

          - name: "hydra"
            skip_test: true
            build_core: true
            build_token_metadata: true
            build_auction_house: false
            build_candy_machine: false

          - name: "nft-packs"
            skip_test: true
            build_core: false
            build_token_metadata: false
            build_auction_house: false
            build_candy_machine: false

          - name: "token-entangler"
            skip_test: false
            build_core: true
            build_token_metadata: true
            build_auction_house: false
            build_candy_machine: false

          - name: "token-metadata"
            skip_test: false
            build_core: true
            build_token_metadata: false
            build_auction_house: false
            build_candy_machine: false

    uses: ./.github/workflows/sdk-reusable.yml
    with:
      name: ${{ matrix.node.name }}
      skip_test: ${{ matrix.node.skip_test }}
      build_core: ${{ matrix.node.build_core }}
      build_token_metadata: ${{ matrix.node.build_token_metadata }}
      build_auction_house: ${{ matrix.node.build_auction_house }}
      build_candy_machine: ${{ matrix.node.build_candy_machine }}
      cache: ${{ (github.event_name == 'workflow_dispatch' && github.event.workflow_dispatch.inputs.cache == 'true') ||
        (github.event_name != 'workflow_dispatch' && env.CACHE == 'true') }}
